mixin video(video,id)
    div.video_index
        img.video_thum(src=`/${video.imgUrl}`, alt="")
        div.video_nav
            a(href=`/video/${video.id}`)=video.title 
            p=video.description
            each hashtag in video.hashtag
                li=hashtag
    