mixin video(video,id)
    div.video_index
        div.video_thum
        div.video_nav
            a(href=`/video/${video.id}`)=video.title 
            p=video.description
            each hashtag in video.hashtag
                li=hashtag
    