extends layout/main_layout.pug
include mixins/video

block content
    div.home
        h2 어서오세요 여기 인기 급상승 영상들이 있습니다.
        div
            each contents in videos
                +video(contents)  
            else 
                li 찾으려는 내용이 없습니다.