extends layout/main_layout.pug

block content
    if error 
        span=error
    form(method="POST" enctype='multipart/form-data')
      input(placeholder="제목", required, type="text", name="title", )
      input(placeholder="비디오 파일", required, type="file",accpet='video/*,.image', name="video", )
      input(placeholder="설명", required, type="text", name="description", )
      input(placeholder="해시태그, separated by comma.", required, type="text", name="hashtag")
      input(type="submit", value="Upload Video")
      